html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header .navbar {
    background-color: #2b3b39cc;
    border-bottom: 1px solid #1861ac;
}

header .navbar-brand,
header .nav-link {
    font-family: "Times New Roman", Times, serif;
    color: #ffffff !important;
}


.center-title {
    text-align: center;
}

label {
    font-family: "Times New Roman", Times, serif;
    font-size: calc(14px + 5px);
}

select.form-select {
    font-family: "Times New Roman", Times, serif;
    font-size: calc(14px + 5px);
    color: #000; /* Text color */
    background-color: #97d3cabf; /* Background color */
    border: 1px solid #1861ac; /* Border color */
}

select.form-select option {
    font-family: "Times New Roman", Times, serif;
    font-size: calc(14px + 5px);
    color: #000; /* Text color */
}

.select-dropdown:focus {
    box-shadow: 0 0 0 0.5rem rgba(151, 211, 202, 0.75) !important; 
}



