html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header .navbar {
    background-color: #97d3cabf;
    border-bottom: 1px solid #1861ac;
}

.center-title {
    text-align: center;
}


