body {
    color: #283e27;
    background-color: #95c991;
    text-align: center;
    align-items: center;

}

table {
    border-style: double;
    border-width: 5px;
    border-color: #283e27;
    background-color: #5b8266;
    margin: auto;
}

tr#top {
    color: #e4decc;
    background-color: #5b8266;
}

tr {
    background-color: lightgreen;
}

tr#one{
    background-color: yellow;
}

tr#two{
    background-color: lightskyblue;
}

td{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}