body {
    color: #283e27;
    background-color: #95c991;
    text-align: center;
    font-family: 'Georgia', 'Garamond', serif;
}

img {
    width: 150px;
    height: 100px;
    margin: 20px;
}

img.one {
    border: 4px solid #adcead;  
}
img.one:hover {
    border: 4px solid #18d018;
}

img.two{
    border: 4px solid #efef7d;
}
img.two:hover {
    border: 4px solid #fefe00;
}

img.three {
    border: 4px solid #9ba2c6;
}
img.three:hover {
    border: 4px solid #152887;
}