body {
    color: #283e27;
    background-color: #95c991;
    text-align: center;
    font-family: 'Georgia', 'Garamond', serif;
}

img {
    width: 150px;
    height: 100px;
    margin: 20px;
    border: 4px solid #adcead;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

img:hover {
    border: 4px solid #18d018;
    box-shadow: 4px 4px 4px rgba(226, 6, 238, 0.4); 
    transform: scale(-0.7, 1.5) rotate(30deg);
}